*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;           
    /* When using locomotive js in your website then dont give height to the parentdiv (main is the parent div) */
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: rgb(247, 247, 132);
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 55);
}

.image-div{
    width: 35%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.4
}

#page3{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 0);
}